html {
    /* Setting the base font-size for use of the rem */
    font-size: 18px;
    font-family: Helvetica;
}
.container {
    width: 960px;
    margin: 0 auto;
}

/* Company Header */

.company {
    background-color: black;
    color: white;
}
.company .container {
    display: flex;
    align-items: center;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
}
.company img {
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}
.company span {
    font-size: 1rem;
}

/* Main Banner */

.main-banner {
    height: 25rem;
    background-image: url(./../Images/moto.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.headline {
    background-color: black;
    color: white;
    width: 20rem;
    position: relative;
    top: 9rem;
    padding: 2rem 3rem;
}
.headline h4 {
    padding-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
}
.headline h1 {
    font-size: 2rem;
    font-weight: bold;
}

