html {
    /* Setting the base font-size for use of the rem */
    font-size: 18px;
    font-family: Helvetica;
    color: white;
}
.container {
    width: 960px;
    margin: 0 auto;
}

/* Company Header */

.company {
    background-color: black;
}
.company .container {
    display: flex;
    align-items: center;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
}
.company img {
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}
.company span {
    font-size: 1rem;
}

/* Main Banner */

.main-banner {
    height: 25rem;
    background-image: url(./../Images/moto.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.headline {
    background-color: black;
    width: 20rem;
    position: relative;
    top: 9rem;
    padding: 2rem 3rem;
}
.headline h4 {
    padding-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
}
.headline h1 {
    font-size: 2rem;
    font-weight: bold;
}

/* Navigation Bar */
nav {
    background-color: firebrick;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
}

/* Products and Business Info */
.products, .business-info {
    display: flex; 
    justify-content: space-between;
    margin-top: 3rem;
}
.product {
    width: 30%;
}
.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;

}
.product-image img{
    max-width: 100%;
    height: 9rem;
    margin: 2rem 0;
}
.description {
    display: block;
    text-align: center;
    background-color: black;
    padding: 0.5rem 0;
}
.info {
    width: 35%;
    color: black;
    margin-bottom: 4rem;
}
.info .title {
    padding: 1rem 0 1rem 2rem; 
    background-color: black;
    color: white;
    display: block;
}

/* Footer */
footer {
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
}